:root {
  --thread: clamp(1rem, 8vw, 2rem);
}

details {
  margin: .5rem 0;
  position: relative;
}

details details {
  margin-left: calc(var(--thread) + .5rem);
}

details.content-warning {
  margin-left: 0;
}

summary {
  list-style: none;
  display: flex;
  gap: .25rem;
  place-items: center;
  font-size: .75rem;
  line-height: 1rem;
  width: 100%;
}

details > summary::-webkit-details-marker {
  display: none;
}

details:not([open]) > summary::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3E%3C/svg%3E") center no-repeat;
  width: 1rem;
  height: 1rem;
  opacity: .4;
}

details[open]:not(.content-warning) > summary::before {
  content: "";
  position: absolute;
  top: calc(var(--thread) + .5rem);
  right: 0;
  bottom: 0;
  left: 0;
  width: var(--thread);
  display: block;
  color: rgba(0,0,0,.4);
  background: linear-gradient(
    to right,
    transparent calc(var(--thread) / 2 - 1px),
    currentColor calc(var(--thread) / 2 - 1px),
    currentColor calc(var(--thread) / 2 + 1px),
    transparent calc(var(--thread) / 2 + 1px)
  );
}

.profile {
  display: flex;
  flex: 1;
  gap: .5rem;
  place-items: center;
  text-decoration: none;
  color: #000;
}

.profile-img {
  width: var(--thread);
  height: var(--thread);
  border-radius: var(--thread);
  object-fit: cover;
}

.user {
  display: flex;
  flex-direction: column;
}

.handle {
  display: none;
}

.permalink {
  text-align: right;
  text-decoration: none;
  color: rgba(0,0,0,.6);
}

.context-menu {
  all: unset;
  position: relative;
}

.context-menu svg {
  display: block;
}

.context-menu menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  flex-direction: column;
  background: #FFF;
  margin: 0;
  padding: .75rem;
  z-index: 1;
  border-radius: .25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.context-menu menu.show {
  display: flex;
}

.context-menu menu a {
  white-space: nowrap;
  text-decoration: none; 
  line-height: 2;
}

.dialog-homeinstance {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: calc((100% - 6px) - 2em);
  max-width: 28rem;
}

.dialog-homeinstance form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}

.dialog-homeinstance input {
  padding: 0.5rem;
}

.dialog-homeinstance menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  gap: .5rem;
  margin: 1.5rem 0 0 0;
}

.dialog-homeinstance button {
  border: none;
  padding: .5rem;
  border-radius: 4px;
  min-width: 4.5rem;
  background-color: #2962ff;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 1rem;
  outline: none;
  color:#FFF;
}

.dialog-homeinstance button:hover {
  background-color: #2F7DE2;
}

.dialog-homeinstance button[type="reset"] {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #DADCE0;
  color: #2962ff;
}

.dialog-homeinstance button[type="reset"]:hover {
  background-color: #EAF2FD;
}

.contents {
  padding-left: calc(var(--thread) + .5rem);
  font-size: 0.875rem;
}

.ellipsis::after {
  content: "…";
}

.invisible {
  position: absolute;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 0;
  height: 0;
}

details.content-warning > summary {
  font-size: 0.875rem;
}

details.content-warning > summary::before {
  display: none;
}

details.content-warning > summary::after {
  content: "Show More";
  display: inline-block;
  background: rgba(0,0,0,.1);
  border-radius: .75rem;
  padding: .25rem .5rem;
  font-size: 0.75rem;
  cursor: pointer;
  white-space: nowrap;
}

details.content-warning[open] > summary::after {
  content: "Show Less";
}

@media screen and (min-width: 25rem) {
  .handle {
    display: block;
  }

  .profile + span {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  margin: 0;
  padding: 0 .5rem;
}
